<!DOCTYPE html>
<html lang="en-us">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mission to Mars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
      

<body>
    <div class="container">

        <!-- jumbotron for scrape button -->
        <div class="jumbotron text-center">
            <h2>Mission to Mars</h2>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
        </div>

        <!-- Mars News -->
        <div class="row">
            <div class="col-md-12">
                <h3 class="heading">Latest Mars News</h3>
                <hr>
                <h4 class="heading">{{mars.news_title}}</h4>
                <small>{{mars.news_paragraph}}</small>
            </div>
        </div>

        <!-- Featured Mars image and Mars facts -->
        <div>
            <div class="col-md-8">
                <div class="col-md-12">
                    <h3 class="heading">Featured Mars Image</h3>
                    <div class="thumbnail">
                        <img class="img-thumbnail float-left" src="{{mars.featured_image}}" alt="featured image">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-12">
                    <h4>Mars Facts</h4>
                    <hr>
                    <table class="table table-striped">
                        {{mars.facts | safe}}
                    </table>
                </div>
            </div>
        </div>

    </div>    
</body>